.topContainer {
	width: 80%;
	height: 200px;
	background-color: black;
	margin: 2rem auto;
	flex: 1;
	touch-action: none;
	margin-bottom: 75px;
}


.container {
display: flex;
touch-action: none;
width: 100%;
margin: 1rem auto;

}

.dropzone {
flex: 1;
height: 250px;
background-color: black;
overflow-y: scroll;
overflow-x: scroll;
position: fixed;
}

.dropzone.positive {
margin-right: 10px;
}

.dropzone.unclassifed {
margin-right: 10px;
}

.grid-item {
padding: 10px;
width: 100%;
height: 100%;
box-sizing: border-box;
display: flex;
justify-content: center;

}

.grid-item-content {
background-repeat: no-repeat;
width: 100%;
height:100%;
background-position: center;
text-align:center;
display: flex;
justify-content: center;
align-items: center;
background-size: cover; 
}



