

.dropzone {
flex: 1;
width: 100%;
height: 100%;
 background-color: black; 
overflow-y: scroll;
overflow-x: hidden;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 0.5rem; 

}

.dropzone.positive {
margin-right: 10px;

}


.grid-item {
padding: 10px;
width: auto;
height: auto;
box-sizing: border-box;
display: flex;
justify-content: center;
}


.grid-item-content {
background-repeat: no-repeat;
width: 100%;
height: 100%;
background-position: center;
text-align:center;
display: flex;
justify-content: center;
align-items: center;
background-size: cover; 
border: 1px solid #3c3c3c; 
}



.hoverText{
	visibility: hidden;
	text-align: center;
	background-color:grey;
	color:black;
	display: inline;
	font-size: xx-small;
	height: 100%;
	width: 100%;
}
.hoverTest:hover .hoverText{
	transition-delay: 1.5s;
	visibility: visible;
}
